---
import { Icon } from "astro-icon/components";
---

<nav
  class="flex items-center justify-between flex-wrap p-4 bg-slate-700 border-slate-400 dark:bg-slate-900"
>
  <!-- logo and text -->
  <div
    class="flex items-center flex-shrink-0 text-slate-100 mr-6 dark:text-slate-100"
  >
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <Icon name="logo" class="w-12 h-12 text-sky-500" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >Astro Store</span
      >
    </a>
  </div>
  <!-- end logo and text -->

  <!-- mobile menu -->
  <div class="block mr-6 md:hidden">
    <button type="button">
      <Icon
        id="burger"
        name="burger"
        class="flex items-center w-8 h-8 text-slate-100 transition-all duration-500 ease-in-out hover:text-sky-500"
      />
      <Icon
        id="close"
        name="close"
        class="hidden items-center w-8 h-8 text-slate-100 transition-all duration-500 ease-in-out hover:text-sky-500 active:hover:rotate-180"
      />
    </button>
  </div>

  <div
    id="mobile-menu"
    class="fixed w-full top-20 z-10 bg-inherit left-0 p-4 overflow-hidden hidden md:flex md:items-center md:w-auto md:z-auto md:static md:p-2"
  >
    <div class="text-md
    font-medium
    ml-6
    md:ml-0
    md:flex-grow">
      <a
        href="#"
        class="block text-slate-100 mt-4 hover:text-sky-500 transition-all duration-500 ease-in-out md:inline-block md:mt-0 md:ml-6"
        >Home</a
      >
      <a
        href="#"
        class="block text-slate-100 mt-4 hover:text-sky-500 transition-all duration-500 ease-in-out md:inline-block md:mt-0 md:ml-6"
        >Products</a
      >
      <a
        href="/login"
        class="block text-slate-100 mt-4 hover:text-sky-500 transition-all duration-500 ease-in-out md:inline-block md:mt-0 md:ml-6"
        >Sign In</a
      >
      <a
        href="#"
        class="block text-slate-100 mt-4 hover:text-sky-500 transition-all duration-500 ease-in-out md:inline-block md:mt-0 md:ml-6"
        >Log Out</a
      >
    </div>
  </div>

  <script>
    const burgerBtn = document.querySelector("#burger") as HTMLButtonElement;
    const mobileMenu = document.querySelector("#mobile-menu") as HTMLDivElement;
    const closeIcon = document.querySelector("#close") as HTMLButtonElement;

    // Open mobile menu when burger icon is clicked

    burgerBtn.addEventListener("click", () => {
      mobileMenu.classList.remove("hidden");
      burgerBtn.classList.add("hidden");
      closeIcon.classList.remove("hidden");
    });

    // Close mobile menu when close icon is clicked

    closeIcon.addEventListener("click", () => {
      mobileMenu.classList.add("hidden");
      burgerBtn.classList.remove("hidden");
      closeIcon.classList.add("hidden");
    });
  </script>
</nav>
