---

---

<section class="h-screen mx-auto flex justify-center bg-slate-200">
  <div class="flex flex-col p-5 shadow-xl">
    <h1 class="text-2xl font-medium">Login</h1>
    <p class="text-sm text-slate-800">
      Don't have an account?
      <a class="text-blue-500 hover:underline" href="#">Sign up here</a>
    </p>
    <button> </button>
  </div>
</section>
